.containerall 
    .heading 
        p Pricing Plans 
        h2 Our Best Pricing

.containerfree
    .free 
        header Free
        span
            sup $
            span 0
        span 
            p 100% free.Forever
        span 
        button Get Started
        p Enjoy All The Features 
        p 150GB 
            span.style__color Bandwith 
        p 100GB 
            span.style__color Storage
        p $1.00 / GB 
            span.style__color  Overages
        p All features 
        
    .free
        header Startup 
        span 
            sup $
            span 19
        span 
            p All feature are 
            p included
        span 
        button Get Started
       p Enjoy All The Features 
        p 450GB 
            span.style__color Bandwith 
        p 400GB 
            span.style__color Storage
        p $2.00 / GB 
            span.style__color  Overages
        p All features 

    .free
        header Premium 
        span
            sup $
            span 49 
        span 
            p All feature are 
            p included
        span 
        button Get Started
       p Enjoy All The Features 
        p 250GB 
            span.style__color Bandwith 
        p 200GB 
            span.style__color Storage
        p $5.00 / GB 
            span.style__color  Overages
        p All features 

    .free
        header Pro
        span
            sup $
            span 99
        span 
            p All feature are 
            p included
        span 
        button Get Started
        p Enjoy All The Features 
        p 450GB 
            span.style__color Bandwith 
        p 400GB 
            span.style__color Storage
        p $20.00 / GB 
            span.style__color  Overages
        p All features 