doctype html
html(lang="vi")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title footer 
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css")
        //- <link rel="stylesheet" type="text/css" href="icon/css/fontawesome-all.css">
        
        
        
        
    body 

    
    section.ftco-section.bg-light
        .container-big  
            .row.content-center.pb-5.mb-5 
                .col-md-7.text-center
                    span.subheading Blog                    
                    h2 Recent Blog 
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in 
            .row 
                .col-md-4
                    .img-entry
                        a(href="" style="Background-image: url(../img/raptorfooter-1.jpg);").block-20
                        .content-img.p-4.d-block    
                            .text-img.mb-3 
                                div 
                                    a(href="")  August 12, 2018  
                                div  
                                    a(href="") Admin 
                                div     
                                    a(href="#").meta-chat
                                         span.icon-chat <i class="bi bi-chat-left-text-fill"></i> 3
                            h3.heading
                                a(href="") Even the all-powerful Pointing has no control about the blind texts         
                .col-md-4 
                    .img-entry
                        a( href="#" style="background-image: url(../img/raptorfooter-2.jpg);").block-20
                        .content-img.p-4
                            .text-img.mb-3
                                div 
                                    a(href="")  August 12, 2018  
                                div  
                                    a(href="") Admin 
                                div     
                                    a(href="#").meta-chat
                                         span.icon-chat <i class="bi bi-chat-left-text-fill"></i> 3
                            h3.heading
                                a(href="") Even the all-powerful Pointing has no control about the blind texts
                        


                .col-md-4   
                     .img-entry
                        a( href="#" style="background-image: url(../img/raptorfooter-3.jpg);").block-20
                        .content-img.p-4
                            .text-img.mb-3
                                div 
                                    a(href="")  August 12, 2018  
                                div  
                                    a(href="") Admin 
                                div     
                                    a(href="#").meta-chat
                                         span.icon-chat <i class="bi bi-chat-left-text-fill"></i> 3
                            h3.heading
                                a(href="") Even the all-powerful Pointing has no control about the blind texts  

    footer.ftco-footer    
        .container-big        
            .row.mb-5
                .col-md 
                    .ftco-footer-widget.mb-4 
                        h2.ftco-heading-2 Raptor.
                        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.   
                        p.mt-4 
                            a(href="").btn.btn-primary.p-3       Get in touch  
                .col-md
                    .ftco-footer-widget.mb-4.ml-md-5 
                        h2.ftco-heading-2 Useful Links
                        ul.list-unstyled 
                            li
                              a(href="#").text-2 Servers
                                   
                            li 
                              a(href="#").text-2 Windos Hosting
                            li
                              a(href="#").text-2 Cloud Hosting

                            li 
                              a(href="#").text-2 OS Servers
                            li
                              a(href="#").text-2 Linux Servers
                            li
                              a(href="#").text-2 Policy 
                .col-md
                    .ftco-footer-widget.mb-4
                        h2.ftco-heading-2 Navigational
                        ul.list-unstyled
                            li
                              a(href="#").text-2 Home
                                   
                            li 
                              a(href="#").text-2 Domain
                            li
                              a(href="#").text-2 Hosting

                            li 
                              a(href="#").text-2 About
                            li
                              a(href="#").text-2 Blog
                            li
                              a(href="#").text-2 Contact
                .col-md
                    .ftco-footer-widget.mb-4
                        .block-23.mb-3
                            ul.list-unstyled 
                                li 
                                  span.icon.icon-1 <i class="bi bi-geo-alt-fill"></i> 
                                  
                                  span.text 203 Fake St. Mountain View, San Francisco, California, USA             
                                li
                                    a(href="#") 
                                        span.icon.icon-2 <i class="bi bi-telephone-fill"></i>
                                        
                                        span.text +2 392 3929 210
                                li
                                    a(href="#")  
                                        span.icon.icon-3 <i class="bi bi-envelope-fill"></i>
                                        span.text info@yourdomain.com
                                li 
                                    span.icon.icon-4 <i class="bi bi-stopwatch-fill"></i>
                                    span.text Saturday — Sunday 8:00am - 5:00pm   
                        ul.ftco-footer-social.list-unstyled.float-left.mt-5
                            li.ftco-animate.fadeInUp.ftco-animated
                                a(href="#")                                  
                                    span.icon-twitter <i class="bi bi-twitter"></i>   
                            li.ftco-animate
                                a(href="#") 
                                    span.icon-facebook  <i class="bi bi-facebook"></i>
                                    
                            li.ftco-animate
                                a(href="#") 
                                    span.icon-instagram <i class="bi bi-instagram"></i>                   
            .row 
                .col-md-12.text-center
                    p Copyright ©
                        <script> document.write(new Date().getFullYear());</script> All right reserved | This template is made with <i class="bi bi-heart"></i>  by 
                        a(href="https://colorlib.com")  Colorlib   
                        
                        
                        


