.containerall 
    .heading 
        p Pricing Plans 
        h2 Our Best Pricing

.containerfree
    .free 
        header Free
        span
            sup $
            span 0
        span 
            p 100% free.Forever
        span 
        button Get Started
        p Enjoy All The Features 
        p 150GB 
            span.style__color Bandwith 
        p 100GB 
            span.style__color Storage
        p $1.00 / GB 
            span.style__color  Overages
        p All features 
        
    .free
        header Startup 
        span 
            sup $
            span 19
        span 
            p All feature are 
            p included
        span 
        button Get Started
        p Enjoy All The Features 
        p 450GB 
            span.style__color Bandwith 
        p 400GB 
            span.style__color Storage
        p $2.00 / GB 
            span.style__color  Overages
        p All features 

    .free
        header Premium 
        span
            sup $
            span 49 
        span 
            p All feature are 
            p included
        span 
        button Get Started
        p Enjoy All The Features
        p 250GB 
            span.style__color Bandwith 
        p 200GB 
            span.style__color Storage
        p $5.00 / GB 
            span.style__color  Overages
        p All features 

    .free
        .free-text
            header Pro
            span
                sup $
                span 99
            span 
                p All feature are 
                p included
            span 
            button Get Started
            p Enjoy All The Features 
            p 450GB 
                span.style__color Bandwith 
            p 400GB 
                span.style__color Storage
            p $20.00 / GB 
                span.style__color  Overages
            p All features
.containerallfunfact
    .containerfunfact
        img(src="../img/raptorpricing1.png", alt="hình")
        .heading1 
            h1 Some fun facts 
            p  More than 100,000 website hosted
        .containerfunfactnumber
            .detail1
                p.installation 2,000
                p1 CMS Installation
            .detail2
                p.awards 100
                p1 Awards Won
            .detail3 
                p.registered 32,000
                p1 Registered Domains
            .detail4
                p.satisfied 31,998
                p1 Satisfied Customers
script(type="module" src="../js/raptorpricing.js") 


