script(type="module" src="../js/raptorheader.js") 
div.hero-wrap       
    div.container-fluid
        div.slide-text
            div.text
                h1 Design.<br>Development.<br>Hosting.
                p A small river named Duden flows by their place and supplies it with the necessary regelialia.   
                button.btn-get-started_under  Get started
            div.img
                img(src="../img/raptorheader-slide-1.png", alt="hình slide")
    div.overlay
div.navbar
    div.nav
        div.container
            div.nav-logo
                a(href="#") RAPTOR.
            //- input(type="checkbox").btn-toggle-menu
            //- div.toggle-menu-icon
            div.nav-menu
                ul.nav-menu_list
                    li.nav-menu_item 
                        a(href="").nav-menu_link.actived Home
                    li.nav-menu_item 
                        a(href="").nav-menu_link About
                    li.nav-menu_item 
                        a(href="").nav-menu_link Domain
                    li.nav-menu_item 
                        a(href="").nav-menu_link Hoisting
                    li.nav-menu_item 
                        a(href="").nav-menu_link Blog 
                    li.nav-menu_item 
                        a(href="").nav-menu_link Contact
                button.btn-get-started_above Get started 