.container 
    .list 
        .heading 
            p Get domain 
        .title 
            p Get A Domain Name
        .content 
            p With FREE Email, DNS, Theft Protection, and other features
        .outline
            .searching-bar 
                .search-text
                    input(type="textbox" placeholder = "Enter your domain name..." class = "input")
                .search-button
                    input(type="Submit" value="Search Domain" class = "button" href="#")
        .list-detail 
            p .com
            span 9.75
            p .net
            span 9.90
            p .biz
            span $8.95
            p .me
            span $7.95

.container2 
    .heading2 
        p Services 
    .title2 
        p Why choose us

.card_container 
    .card_img 
    
    .car_infor










    


