*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.containerall{
    width: 100%;
    p{
        text-align: center;
        color:#24bdc9;
    }
    h2{
        margin: 20px;
        text-align: center;
        color: #3a4348;
        font-size: 30px;
        font-weight: 200;
        font-family: 'Arial', sans-serif
    }
}
.containerfree{
    width:  1270px;
    //height: 1045px;
    border: 2px solid rgb(253, 253, 249, 0.568);
    display:flex;
    justify-content: space-between ;
    margin: 5rem auto;
}
.free{
    width: 255px;
    height: auto;
    border: 2px solid rgb(241, 245, 245);
    background-color: rgba(253, 253, 249, 0.568);
    text-align: center;
    color:#3A4348;
    .free-text{
        padding: 0 auto;
        margin-top: 0;
        margin-bottom: 40px;
    }

    header{
        border-bottom-right-radius: 15px ;
        border-bottom-left-radius: 15px ;
        width: 100px;
        height: 38px;
        margin: 0 auto;
        background-color: #24bdc9;
        color: #fafafa;
    }
    sup{
        color: #3A4348;
        font-size: 20px;

    }
    span{
        font-size: 40px;
        color: #3A4348;    
    }
    span{
        p{
        margin: 0px 0px 5px;
        font-size: 16px;
        color: #b3b3b3;
        }
    }
    button{
        font-size: 16px;
        color: #24bdc9;
        background-color:  #DAF6F8;
        margin: 0px 0px 24px;
        padding: 16px;
        border-radius: 25px;
        width: 175px;
        border: none;
    }
    span.style__color{
        color: #b3b3b3;
        font-size: 16px;
    }
}
.containerallfunfact{
    background-image: linear-gradient(to right bottom, #2ebdc4, #31c8c3, #3ed2bf, #51dcba, #68e5b2);
    text-align: center;
    height: 787px;
    position: relative;
}
.containerallfunfact {
    position: relative;
    margin: 20rem 0 0 0;
}

.containerallfunfact img{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: relative;
}
.heading1 h1 {
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 200;
    top: 160px;
    left: 600px;
    margin: 0 0 24px;
}
.heading1 p{
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    top: 240px;
    left: 630px;
}
.containerfunfactnumber{
    display: flex;
}
.detail1 {
    position: absolute;
    left:380px;
    top: 325px;
}
.detail1 p{
    font-size: 30px;
    color: #FFFFFF;
}
.detail1 p1{
    top:340px;
    font-size: 16px;
    color: #FFFFFF;
}
.detail2 {
    position: absolute;
    left: 600px;
    top: 325px;
}
.detail2 p{
    font-size: 30px;
    color: #FFFFFF;
}
.detail2 p1{
    top:340px;
    font-size: 16px;
    color: #FFFFFF;
}
.detail3 {
    position: absolute;
    left: 800px;
    top: 325px;
}
.detail3 p{
    font-size: 30px;
    color: #FFFFFF;
}
.detail3 p1{
    top:340px;
    font-size: 16px;
    color: #FFFFFF;
}

.detail4 {
    position: absolute;
    left: 1050px;
    top: 325px;
}
.detail4 p{
    font-size: 30px;
    color: #FFFFFF;
}
.detail4 p1{
    top:340px;
    font-size: 16px;
    color: #FFFFFF;
}

