
// html {
//     font-size: 62.5%;
//     font-family: 'Roboto', sans-serif;
// }

// body {
//     font-size: 1.6rem;
// }
// .ftco-section {
//     position: relative;
//     width: 100%;
//     padding: 8em 0;
//     display: block;
    
// }
    
// .bg-light {
//     background: #f8faff !important;
//     z-index: 0;
// }
// .container-big{
    
//     max-width: 100%;
// }

// .pb-5 {
//     padding-bottom: 3rem !important;
// }

// .mb-5 {
//     margin-bottom: 3rem !important;
// }
// .content-center{
//     justify-content: center;
//     text-align: center !important;
// }
// .container-content{
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
// }
// .container-content.subheading{
//         color: #24bdc9;
// }
// .text-center {
//     text-align: center !important;
// }
// .ftco-animate {
//     opacity: 0;
//     visibility: hidden;
// }
// @media (min-width: 768px){}
// .col-md-7 {
//     -webkit-box-flex: 0;
//     flex: 0 0 58.33333%;
//     max-width: 58.33333%;
// }

.ftco-section{
    display: block;
    width: 100%;
    padding: 8em 0;
}
.bg-light{
    background: #b9bdc8 !important;
    z-index: 0;
}

.container-big{
 width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 650px) {
    .container-big {
      max-width: 570px; } }
  @media (min-width: 768px) {
    .container-big {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container-big {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container-big {
      max-width: 1140px; } }
.container-fluid{
width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
.content-center{
    justify-content: center !important;
}
.pb-5{
    padding-bottom: 3rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.text-center{
    text-align: center !important;
}


@media (min-width: 768px){
    .col-md-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
}

.col-md-7{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}