*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.hero-wrap{
    // border: 2px solid orange;
    background-image: linear-gradient(to right bottom, #2ebdc4, #31c8c3, #3ed2bf, #51dcba, #68e5b2);
    height: 630px;
}

.container-fluid{
    // border: 2px solid palevioletred;
    height: 630px;
    top: 100%;
}

.slide-text{
    // border: 2px solid blue;
    height: 700px;
    position: relative;
}

.text{
    // border: 2px solid greenyellow;
    // padding: 0 24px 0 13rem;
    // padding-left: 10.5%;
    // padding-right: 1rem !important;
    width: 40%;
    margin: 15rem 0;
}

.text h1{
    color: #FFFFFF;
    font-size: 44px;
    margin-bottom:24px;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 1rem !important
}

.text p{
    color: #FFFFFFB3;
    font-size: 20px;
    margin-bottom: 48px;
    line-height: 1.5;
    font-weight: 300;
}

.btn-get-started_under{
    border: 1px solid #FFFFFF;
    outline: none;
    padding: 1.6rem 2.4rem;
    color: #24bdc9;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-bottom:16px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.slide-bar{
    // border: 2px solid greenyellow;
    width: 60%;
    margin-top: auto;
    margin-bottom: 0;
    display: block;
}

.slide-bar img{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.navbar{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
    // border: 2px solid red; 
    padding: 8px 16px;
}

.container{
    // border: 2px solid burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo{
    margin: 0 16px 0 0;
    padding: 5px 0
}

.nav-logo a{
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1;
}

.nav-menu{
    // border: 2px solid hotpink; 
    display: flex;
    align-items: center;
}

.nav-menu_list{
    display: flex;
    list-style-type: none;
}

.nav-menu_item{
    // /* border: 2px solid green; */
    padding: 0 2rem;
}

.nav-menu_link{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.3s;
}

.actived{
    color: #FFFFFF80;
}

.btn-get-started_above{
    border: 1px solid #FFFFFF;
    font-size: 14px;
    outline: none;
    padding: 1rem 2rem;
    color: #FFFFFF;
    background-color:#3ed2bf;
    border-radius: 23px;
}
.toggle-menu{
    display: none;
}

@media (max-width: 991px){ 
    .text h1{
        font-size: 40px;
    }

    .navbar{
        background-color: #3a4348;
        padding: 0.5rem 1rem;
        align-items: center;
        top: 0;
    }

    .container{
        background-color: #3a4348;
        display: flex;
        top: 0;
        justify-content: flex-start;
    }

    .nav-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: 0.5s;
        top:0%;
        background-color: #3a4348;
        opacity: 0;
        visibility: hidden;
        left: 0;
        top: 0;
        right: 0;
        // justify-content: space-between;
        // transition: 0.5s;
    }
    .menu-is-actived{
        top:100%;
        opacity: 1;
        visibility: visible;

    }
    .nav-menu_list{
        display: block;
        width: 100%;
    }
    .nav-menu_link{
        display: block;
        width: 20rem;
        padding: 1rem 0;
        text-align: left;
    }

    .toggle-menu{
        display: block;
        position: absolute;
        right: 15px;
        z-index: 999;
        opacity: 1;
    }
    
    .toggle-menu button{
        color: #FFFFFF80;
        font-size: 16px;
        background-color: #3a4348;
        border: none;
    }

    .btn-get-started_above{
        border: 1px solid #FFFFFF;
        font-size: 14px;
        outline: none;
        padding: 1rem 2rem;
        color: #FFFFFF;
        background-color: #3a4348;
        border-radius: 23px;
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }
}

@media (min-width: 768px){
    .slide-text{
        display: flex !important;
    }

    .text{
        padding-left: 10.5%;
        padding-right: 1.5rem !important;
        align-self: center !important;
    }

    .text p{
        margin-bottom: 3rem !important;
    }
}
@media (max-width: 767.98px){
    .slide-text{
        height: 750px;
        border: 1px solid transparent;
        display: block;
    }
    .text{
        width: 100% !important;
        text-align: center;
        margin-bottom: 0;
    }
    .slide-bar{
        width: 100%;
        display: block;
        margin-top: 0;
    }
}
