.container {
    width: 1320px;
    height: 100vh;
    background-color: #F8FAFF;
}

.list {
    width: 1320px;
    height: 159px;
    padding: 150px;
}

.heading {
    color: #24BDC9;
    margin: 0 0 20px;
    font-size: 14px;
    text-align: center;
}

.title {
    color: #3A4348;
    margin: 0 0 24px;
    font-size: 30px;
    text-align: center;

}

.content {
    color: #81919A;
    margin: 0 0 48px;
    font-size: 16px;
    text-align: center;
}

.outline {
    display: flex;
    justify-content: center;
}

.searching-bar {
    border: 1px solid #24BDC9;
    height: 90px;
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-text {
    // border: 1px solid blue;
    display: flex;
    height: 60px;
    justify-content: center;
}

.input {
    display: block;
    outline: none;
    border: none;
    height: 100%;
    width: 380px;
    font-size: 17px;
}

.search-button {
    display: flex;
    height: 60px;
}

.button {
    display: block;
    height: 100%;
    width: 220px;
    background-color: #22D47B;
    font-size: 20px;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #22D47B;
}

.button ::after {
    color: aqua;
}

.list-detail {
    display: flex;
    justify-content: center;
    margin: 10px 16px 10px 0;

}

.list-detail p {
    display: flex;
    color: #24BDC9;
    font-size: 12.8px;
    align-items: flex-end;
}

.list-detail span {
    margin: 0 10px 0 0;
}

.container2 {
    background-color: #FFFFFF;
}

.heading2 {
    color: #24BDC9;
    margin: 0 0 20px;
    font-size: 14px;
    text-align: center;
}

.title2 {
    color: #3A4348;
    margin: 0 0 24px;
    font-size: 30px;
    text-align: center;
}

.card_container {
    max-width: 1320px;
    padding: 0 0.5rem;
    margin: 0 auto;
    border: 2px solid red;
    height: 100vh;
}